*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #0e4279;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 100px;
}
.card{
    width: 350px;
    background-color: rgb(205, 224, 224);
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.6s ease;
}
.card:hover{
    transform: translateY(-20px);
}
.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.card-content{
    padding: 20px;
}
.card-content h1{
    font-size: 24px;
    margin-bottom: 10px;
}
.card-content p{
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
}
.card-button{
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 16px;
}